.App {
  text-align: center;
  font-size: 0;
}

h3 {
  font-size: 1.6rem;
  color: white;
}

.header-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 8vh;
}

#navbar li:after {
  content: " | ";
}

#navbar li:last-child:after {
  content: "";
}

#navbar {
  position: absolute;
  right: 2vw;
}

#navbar ul li{
  float: left;
  display: inline;
}

#navbar a {
  text-decoration: none;
  font-size: 0.9rem;
  color: white;
}

#navbar a:hover {
  font-size: 1rem;
  color: #FFC107;
}

header {
  display: flex;
  background-color: #202020;
  height: 8vh;
  position: fixed;
  width: 100vw;
  z-index: 10;
  color: white;
  border-bottom: 1px solid #FFC107;
  font-size: 1rem;
}

#home {
  padding-top: 8vh;
  height: 92vh;
}

.background {
  background-image: url("media/cover.jpg");
  background-size: contain;
  background-repeat: repeat-y;
  filter: blur(2px) grayscale(60%);
  height: 92vh;
  position: absolute;
  width: 100%;
  margin: 0;
}

.container {
  position: absolute;
  margin: 0 10vw;
  color: white;
  background-color: #202020;
  height: 92vh;
  width: 80vw;
  z-index: 1;
  font-size: 1rem;
}

.intro-img {
  width: 50vw;
}

.intro p{
  margin: 0;
  font-size: 1.2rem;
}

#contact {
  padding-top: 8vh;
  background-color: #202020;
  height: 62vh;
}

footer {
  background-color: #202020;
  color: white;
  height: 30vh;
}

.show-menu {
  text-decoration: none;
  display: none;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked ~ #navbar {
  display: block;
}


@media only screen and (max-width: 500px) {

  .header-logo {
    position: absolute;
    left: 85%;
    transform: translate(-50%, -50%);
    height: 8vh;
  }

  #navbar li:after {
    content: "";
  }

  #navbar {
    margin-top: calc(8vh + 1px);
    position: absolute;
    display: none;
    left: 0;
    width: 25vw;
    background-color: #202020
  }

  #navbar ul {
    margin: 0;
    padding-left: 0;
  }

  #navbar ul li {
  border: 1px solid #FFC107;
  margin-bottom: 1px;
  float: none;
  display: block;
  }

  .show-menu {
    padding-left: 5vw;
    margin: auto 0;
    display: block;
  }

}
